.Fog1{
    display: flex;
    top:10%;
   left: 10%;
   height: 80%;
   background-color: rgb(250, 246, 246);
      padding: 10px;
   position:absolute;
   border-radius: 12px;
}
.Fog2{
    left: 35%;
    position: relative;
}
.Fog3{
    left: 34%;
    position: relative;
    width:300px;
}
.Fog4{
    left: 34%;
    position: relative;
    width:300px;
    top:10px;
    height: 50px;

}
.Fog5{
    left: 35%;
    position: relative;
  
    top:30px;
  }
  .link{
   text-decoration:none;
   position: relative;
   left:10px;
top:-5px;
color: rgb(134, 131, 131);
  }
.typo3{

    position: relative;
    left: 33%;
color:rgb(134, 131, 131);}
.img{
    left: 40%;
    height: 150px;
    width: 150px;
    position: relative;
   }